<!DOCTYPE html>
<html lang="en">
<%- include("../partials/head.ejs") %>

    <body>
        <%- include("../partials/header.ejs") %>

            <main>
                <div>
                    <% if(locals.errors){ %>
                        <% for(let i=0; i<locals.errors.length; i++ ){ %>
                            <%= locals.errors[i].msg %>
                    <% }} %>
                </div>
                <div class="crear-estudio">
                    <div class="form">
                        <form method="POST" action="/estudios/crear-estudio" enctype="multipart/form-data">
                                                                            <!--Para que envie archivos-->
                            <label for="title">Título de Estudio</label>
                            <% if(locals.errors && errors.title) {%>
                                <div class="error"><%= errors.title.msg %></div>
                            <% } %>  
                            <input type="text" name="title" id="title" value="<%= locals.old ? old.title : null %>">
                            </br>

                            <label for="desc">Descripción</label>
                            <% if(locals.errors && errors.desc) {%>
                                <%= errors.desc.msg %>
                            <% } %>
                            <textarea name="desc" id="desc"></textarea>
                            </br>

                            <label for="antes">Antes</label>
                            <% if(locals.errors && errors.antes) {%>
                                <%= errors.antes.msg %>
                            <% } %>
                            <textarea name="antes" id="antes"></textarea>
                            </br>

                            <label for="option">Opción</label>
                            <% if(locals.errors && errors.option) {%>
                                <%= errors.option.msg %>
                            <% } %>
                            <input type="text" name="option" id="option">
                            </br>

                            <label for="price">Precio</label>
                            <% if(locals.errors && errors.price) {%>
                                <%= errors.price.msg %>
                            <% } %>
                            <input type="number" name="price" id="price" value="<%= locals.old ? old.price : null %>">
                            </br>

                            <label for="imagenEstudio">Imagen del Producto</label>
                            <input type="file" name="imagenEstudio" id="imagenEstudio">
                            </br>
                            <button type="submit">Crear Estudio</button>
                        </form>
                    </div>
                </div>
            </main>
            <%- include("../partials/footer.ejs") %>
    </body>

</html>