<!DOCTYPE html>
<html lang="en">
<%- include("../partials/head.ejs") %>

    <body>
        <%- include("../partials/header.ejs") %>

            <main>
                <!-- MUESTRO TODOS LOS ERRORES ARRIBA DEL FORMULARIO
                <div>
                   <% if(locals.errors){ %>
                        <% for(let error in locals.errors ){ %>
                            <p><%= locals.errors[error].msg %></p>
                    <% }} %>                   
                </div>
                 -->
                <div class="crear-estudio">
                    <div class="form">
                        <form method="POST" action="/estudios/crear-estudio" enctype="multipart/form-data">
                                                                            <!--Para que envie archivos-->
                            <label for="title">Título de Estudio</label>
                            <% if(locals.errors && errors.title) {%>
                                <div class="error"><%= errors.title.msg %></div>
                            <% } %>  
                            <input type="text" name='title' id="title" value="<%= locals.old ? old.title : null %>">
                            </br>

                            <label for="desc">Descripción</label>
                            <% if(locals.errors && errors.desc) {%>
                                <div class="error"><%= errors.desc.msg %></div>
                            <% } %>
                            <textarea name="desc" id="desc"><%= locals.old ? old.desc.trim() : null %></textarea>
                            </br>

                            <label for="antes">Antes</label>
                            <% if(locals.errors && errors.antes) {%>
                                <div class="error"><%= errors.antes.msg %></div>
                            <% } %>
                            <textarea name="antes" id="antes"><%= locals.old ? old.antes.trim() : null %></textarea>
                            </br>

                            <label for="option">Opción</label>
                            <% if(locals.errors && errors.option) {%>
                                <div class="error"><%= errors.option.msg %></div>
                            <% } %>
                            <input type="text" name="option" id="option">
                            </br>

                            <label for="price">Precio</label>
                            <% if(locals.errors && errors.price) {%>
                                <div class="error"><%= errors.price.msg %></div>
                            <% } %>
                            <input type="number" name="price" id="price" value="<%= locals.old ? old.price : null %>">
                            </br>

                            <label for="imagenEstudio">Imagen del Producto</label>
                            <input type="file" name="imagenEstudio" id="imagenEstudio" value="<%= locals.old ? old.imagenEstudio : null %>">
                            </br>
                            <button type="submit">Crear Estudio</button>
                        </form>
                    </div>
                </div>
            </main>
            <%- include("../partials/footer.ejs") %>
    </body>

</html>