<!DOCTYPE html>
<html lang="en">
<%- include("../partials/head.ejs") %>

    <body>
        <%- include("../partials/header.ejs") %>
            <main>
                <h2 class="lista-prod">Listado de Estudios</h2>

                <% for (const estudio of estudios) { %>
                    <section class="estudio-comp">
                    <a href="/estudios/estudio-detalle/<%=estudio.id%> ">
                            <img src="/img/estudios_imagenes/<%=estudio.img%>" alt="<%= estudio.title %>" id="producto-detalle" class="img-prod" />
                            <div class="titulo-descr">
                                <h3>
                                    <%= estudio.title %>
                                </h3>

                                <h4>
                                    <%= estudio.desc %>
                                </h4>
                            </div>
                    </a>
                    <a href="/estudios/modificar/<%= estudio.id %>">Editar Estudio</a>
                    </section>
                    <%}%>
            </main>
            <%- include("../partials/footer.ejs") %>
    </body>

</html>